{% load static %}<!doctype html>
<html lang="en">
<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
  <link rel="stylesheet" href="{% static 'bootstrap/dist/css/bootstrap.min.css' %}">
  <link rel="stylesheet" type="text/css" href="{% static 'css/app.css' %}">
  <link rel="stylesheet" type="text/css" href="{% static 'dropzone/dist/min/dropzone.min.css' %}">
  <title>{% block title %}Document Classification{% endblock %}</title>
</head>
<body style="background-color: #5c848e">
  <nav class="navbar navbar-expand-lg navbar-light mb-4" style="background-color: #decdc3;">
    <div class="container">
      <a class="navbar-brand" href="{% url 'home' %}">Document Classification</a>
      <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <ul class="navbar-nav">
          <li class="nav-item">
            <a class="nav-link" href="{% url 'home' %}">Home</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="{% url 'upload' %}">Upload File</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="{% url 'about' %}">About Us</a>
          </li>
        </ul>
      </div>
    </div>
  </nav>
  <div class="container">
    <div class="row justify-content-center">
      <div class="col-lg-10 col-md-12">
        <div class="card mb-4">
          <div class="card-body">
            {% block content %}
            {% endblock %}
          </div>
        </div>
      </div>
    </div>
  </div>
  <script src="{% static 'jquery/jQuery-3.5.1.js' %}"></script>
  <script src="{% static 'popper/src/popper.js' %}"></script>
  <script src="{% static 'bootstrap/dist/js/bootstrap.min.js' %}"></script>
  <script src="{% static 'dropzone/dist/min/dropzone.min.js' %}"></script>
  <script src="{% static 'upload.js' %}"></script>
</body>
</html>
